/* ------------------------------- css colors types ----------------------------------------- */
/* 
➤ Named Colors : ("Apply colors by name")
                  
➤ Hex Colors : ("#00ff00")
 
➤ RGB Colors : ("rgb(255, 0, 0)")

➤ RGBA Colors : ("rgba(0, 0, 0, 0.5)")

➤ HSL Colors : ("hsl(240, 100%, 50%)")

➤ HSLA Colors : ("hsla(0, 100%, 50%, 0.3)")

➤ currentColor : ("currentColor ka use border color ko text color ke saath match karne ke liye hota hai.")

➤ transparent : ("Main ne background transparent rakhne ke liye transparent keyword ka use kiya.")

➤ lab() Colors (Modern) : ("lab(50% 60 30) ek advanced color format hai jo accurate shading ke liye use hota hai.")

➤ lch() Colors (Modern) : ("lch(70% 80 40) colors ko human eye ke perception ke mutabiq adjust karta hai.")
 */


/* ------------------------------------------------------------------------------------------ */

/*---------------------------- background properties -----------------------------------------*/

body {
   width: 100%;
   height: 100%;
   /* background-color: aqua; */
   /* background-image: url("./images/1351760.png"); */
   /* background-repeat: no-repeat; */
   /* background-size: 50% 50vh; */
   /* background-position:top right; */
}


/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------ units ------------------------------------------------*/

/* 
➤ (px) --> absolute unit

➤ (%) --> reltive unit

➤ (em) --> relative unit

➤ (rem) --> relative unit  
 */


/* ------------------------------------------------------------------------------------------ */

/* -------------------------------- Fonts properties -----------------------------------------*/

h1 {
   /* font-family: "Urbanist", sans-serif; */
   /* font-family: my-font; */
   /* font-size: 50px; */
   /* font-weight: 400; */
   /* font-style: italic; */
   /* font-variant: small-caps; */
}

/* ---- > falback font */

h1 {
   /* font-family: "my-font","urbanist",sans-serif ; */
}

/* Note --> ((add thow to three fonts in font family. in case first format is not working so second format active and then second format is not working si third by default format isn active))*/

/* -----> custom fonts */
/* 
@font-face {
   font-family: my-font ;
   src: url(font url) format("format type of format");
} */
/* not (@font-face tag placed on top in css file and use font for using custom name in font faily tag) */


/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------Text properties -------------------------------------- */

h1 {
   text-align: center;
   text-transform: uppercase;
   /* text-decoration: underline; */
   /* text-decoration-color: blue; */
   /* text-decoration-thickness:5px ; */
   /* text-decoration-style: wavy; */
   text-shadow: 2px -2px 5px black;
}
p {
   letter-spacing: 1px;
   word-spacing: 1px;
   line-height: 1.5;
}

/* -----> psedu-element */
/*  
p::first-letter {
   color: blue;
   font-size: 70px;
} */













