*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-list{
    margin-top: 50px;
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 1.2rem;
}