*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
}

/* box-shadow */
/* 
div{
    margin: 100px auto;
    width: 400px;
    height: 400px;
    background: yellow;
    border-radius: 500px;
    box-shadow: 10px 10px 90px 20px green;
} */

/* drop shadow */
/* 
div{
    width: 500px;
    height: 500px;
    margin: 100px auto;
}
img {
    margin: 0 auto;
    height: 100%;
    filter: drop-shadow(0 0 20px black);
} 
*/



















