*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color:white;
    --bgc-color:black;
    --hover-color:red;
    --shadow-color:rgb(182, 50, 50);
}
html{
    font-family: sans-serif;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: var(--bgc-color);   
    display: flex;
    align-items: center;
}
#left{
    width: 50%;
    padding: 90px 0px 90px 150px;
}
#right{
    width: 50%;
}
h1{
    color: var(--text-color);
    font-size: 60px;
    margin-bottom: 25px;
    text-transform: capitalize;  
}
p{
 color: var(--text-color);
 font-size: 20px;
    margin-bottom: 35px;
    letter-spacing: 0.5;
    line-height: 1.4;

}
a {
    text-decoration: none;
    color: var(--bgc-color);
    background-color:var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

a:hover {
    color: var(--hover-color);
}

img{
width: 80%;
filter: drop-shadow(0 0 15px var(--shadow-color));
}



